logs
__pycache__
.vscode
*.json
skuarelbot.txt
database.db
congratulations/utils/
congratulations/admin.py
congratulations/reminders.py
congratulations/convert.py
configurations/nsfw.py
configurations/__pycache__
skuarelbot.log
*.log
